.factory-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
    gap: 40px;
}

.factory-overview {
    flex: 1 1 400px;
}

.factory-overview h2 {
    font-size: 2rem;
    font-weight: 700;
    align-items: left;
    text-align: left;
    margin-bottom: 10px;
}

.factory-overview p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #444;
    max-width: 400px;
    align-items: left;
    text-align: left;
}

.factory-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    padding-right:40px;
    padding-top: 20px;
    
    align-items: left;
}

.factory-advantages {
    flex: 1 1 500px;
}

.factory-advantages h3 {
    font-size: 1.2rem;
    font-weight: 600;
    align-items: left;
    text-align: left;
    margin-bottom: 15px;
}

.factory-list {
    list-style: square;
    padding-left: 20px;
}

.factory-list li {
    margin-bottom: 12px;
    font-size: 0.95rem;
    line-height: 1.6;
    text-align: left;
    color: #333;
}

.factory-list span {
    font-weight: 600;
}


.factory-about-text {
  font-size: 1rem;
  line-height: 1.8;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: justify;
}

@media (max-width: 768px) {
    .factory-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    padding-right:1px;
    padding-top: 1px;
    
    align-items: left;
}

}
.factory-container.reverse {
  flex-direction: row-reverse;
}